
@import url('https: //cdn.jsdelivr.net/gh/Maiphan19/my-fonts@latest/style.css');

@font-face {
  font-family: 'LaoPali';
  src: url('https://cdn.jsdelivr.net/gh/Maiphan19/my-fonts@latest/fonts/P.Inthavong_Pali.ttf') format('ttf'),
       url('https://cdn.jsdelivr.net/gh/Maiphan19/my-fonts@latest/fonts/LaoPaliAlpha-Light.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/Maiphan19/my-fonts@latest/fonts/LaoPaliAlpha-Extralight.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'LaoPaliAlphaLight', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  padding: 20px;
}
